@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', serif;
}

.e-commerce-btn {
  background: transparent;
  transition: all ease-in-out 0.3s;
}

.e-commerce-btn:hover {
  background: linear-gradient(94.55deg, #C7FF51 -14.37%, #00C934 49.67%, #51FFC0 111.65%);
  border: transparent;
}

.green-gradient {
  background: linear-gradient(94.55deg, #C7FF51 -14.37%, #00C934 49.67%, #51FFC0 111.65%);
}

@keyframes floatStar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.e-commerce-icons {
  animation: floatStar 4s ease-in-out infinite;
}

.change-direction {
  direction: rtl;
}

.linear-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}