@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', serif;
}

*{
  scroll-behavior: smooth;
}

.line {
  content: '';
}

.green-gradient {
  background: linear-gradient(94.55deg,
      #c7ff51 -14.37%,
      #00c934 49.67%,
      #51ffc0 111.65%);
}

.box-shadow {
  box-shadow: 0 2px 10px #36eb58;
}

.plans-shadow:hover {
  box-shadow: 0px 1px 5px 5px #36eb58;
}

.icon svg path {
  fill: black;
}

.form-box-shadow {
  box-shadow: 26px 31px 50px 0px #0000001a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@keyframes floatStar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.e-commerce-box-icon {
  animation: floatStar 3s ease infinite;
}


.revolve {
  animation: revolve 12s ease infinite;
}

@keyframes revolve {
  30% {
    transform: translateY(-10px) translateX(0px);
  }

  45% {
    transform: translateY(20px) translateX(20px);
  }

  60% {
    transform: translateY(-20px) translateX(-20px);
  }

  50% {
    transform: translateY(20px) translateX(-10px);
  }

  70% {
    transform: translateY(-20px) translateX(-20px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.bounce {
  animation: bounce 4s ease infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.e-commerce-icons {
  animation: floatStar 4s ease-in-out infinite;
}

.change-direction {
  direction: rtl;
}

.linear-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.revenue-img-shadow {
  box-shadow: 17px 20px 36px 0px #c6f0e7 !important;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(.8);
    opacity: 0.5;
  }
}

@keyframes zoomOutAnimation {
  0% {
    transform: scale(.8);
    opacity: 1;
  }

  50% {
    transform: scale(.7);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ninja-logo {
  animation: zoomAnimation 3s infinite alternate ease-in-out;
}

.shopify-logo {
  animation: zoomOutAnimation 3s infinite alternate ease-in-out;
}

.earth-animation {
  animation: earth 40s linear infinite;
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(min-width:510px) and (max-width:639.98px) {
  .ninjavan-logo {
    right: 285px !important;
  }

  .grab-logo {
    left: 144px !important;
  }

  .woo-logo {
    right: 112px !important;
  }

  .aremax-logo {
    left: 96px !important;
  }

  .shpline-logo {
    right: 96px !important;
  }

  .shopee-logo {
    left: 40px !important;
  }

  .lazada-logo {
    left: 112px !important;
  }

  .lalamove-logo {
    right: 180px !important;
  }

  .dhl-logo {
    right: 80px !important;
  }
}
