@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', serif;
}

.group:hover .icon svg path {
  fill: white;
}

.group:hover .icon svg path.logo {
  fill: green !important;
}

.green-gradient {
  background: linear-gradient(
    94.55deg,
    #c7ff51 -14.37%,
    #00c934 49.67%,
    #51ffc0 111.65%
  );
}

.box-shadow {
  box-shadow: 0 2px 10px #36eb58;
}

.plans-shadow:hover {
  box-shadow: 0 4px 10px #36EB58;
}

.icon svg path {
  fill: black;
}

.form-box-shadow {
  box-shadow: 26px 31px 50px 0px #0000001A;
}


@keyframes floatStar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.e-commerce-box-icon{
   animation: floatStar 3s ease infinite;
}

.floatStar {
.revolve {
  animation: revolve 12s ease infinite;
}
}

@keyframes revolve {
  30% {
    transform: translateY(-10px) translateX(0px);
  }

  45% {
    transform: translateY(20px) translateX(20px);
  }

  60% {
    transform: translateY(-20px) translateX(-20px);
  }

  50% {
    transform: translateY(20px) translateX(-10px);
  }

  70% {
    transform: translateY(-20px) translateX(-20px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.bounce {
  animation: bounce 4s ease infinite;
}



@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.e-commerce-icons {
  animation: floatStar 4s ease-in-out infinite;
}

.change-direction {
  direction: rtl;
}

.linear-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.revenue-img-shadow {
  box-shadow: 17px 20px 36px 0px #c6f0e7 !important;
}
 @keyframes zoomAnimation {
   0% {
     transform: scale(1);
     opacity: 1;
   }

   50% {
     transform: scale(1.2);
     opacity: 0.5;
   }

   100% {
     transform: scale(1);
     opacity: 1;
   }
 }
    @keyframes zoomOutAnimation {
      0% {
        transform: scale(1);
        opacity: 0.5;
      }
  
      50% {
        transform: scale(1.2);
        opacity: 1;
      }
  
      100% {
        transform: scale(1);
        opacity: 0.5;
      }
    }
 .ninja{
    animation: zoomAnimation 3s infinite alternate ease-in-out;
 }
    .shopify {
      animation: zoomOutAnimation 3s infinite alternate ease-in-out;
    }
